 function Confirm_2(title, msg, $true, $false, $link) {
 	var $content = "<div class='dialog-ovelay'>" + "<div class='dialog'><header>" + " <h3> " + title + " </h3> " + "<i class='fa fa-close'></i>" + "</header>" + "<div class='dialog-msg'>" + " <p> " + msg + " </p> " + "</div>" + "<footer>" + "<div class='controls'>" + " <button class='button button-danger doAction'>" + $true + "</button> " + " <button class='button button-default cancelAction'>" + $false + "</button> " + "</div>" + "</footer>" + "</div>" + "</div>";
 	$('body').prepend($content);
 	$('.doAction').click(function() {
 		window.open($link, "_blank"); /*new*/
 		$(this).parents('.dialog-ovelay').fadeOut(500, function() {
 			$(this).remove();
 		});
 	});
 	$('.cancelAction, .fa-close').click(function() {
 		$(this).parents('.dialog-ovelay').fadeOut(500, function() {
 			$(this).remove();
 		});
 	});
 }
 $('a').click(function() {
 	Confirm('Vider le Panier', 'Êtes-vous sûr de supprimer tous les articles du panier?', 'Oui', 'Annuler', "cartAction.php?action=removeAllCartItems");
 });