.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	float: right
}
.col-xs-12 {
	width: 100%
}
.col-xs-11 {
	width: 91.66666667%
}
.col-xs-10 {
	width: 83.33333333%
}
.col-xs-9 {
	width: 75%
}
.col-xs-8 {
	width: 66.66666667%
}
.col-xs-7 {
	width: 58.33333333%
}
.col-xs-6 {
	width: 50%
}
.col-xs-5 {
	width: 41.66666667%
}
.col-xs-4 {
	width: 33.33333333%
}
.col-xs-3 {
	width: 25%
}
.col-xs-2 {
	width: 16.66666667%
}
.col-xs-1 {
	width: 8.33333333%
}
.col-xs-pull-12 {
	left: 100%;
	right: auto
}
.col-xs-pull-11 {
	left: 91.66666667%;
	right: auto
}
.col-xs-pull-10 {
	left: 83.33333333%;
	right: auto
}
.col-xs-pull-9 {
	left: 75%;
	right: auto
}
.col-xs-pull-8 {
	left: 66.66666667%;
	right: auto
}
.col-xs-pull-7 {
	left: 58.33333333%;
	right: auto
}
.col-xs-pull-6 {
	left: 50%;
	right: auto
}
.col-xs-pull-5 {
	left: 41.66666667%;
	right: auto
}
.col-xs-pull-4 {
	left: 33.33333333%;
	right: auto
}
.col-xs-pull-3 {
	left: 25%;
	right: auto
}
.col-xs-pull-2 {
	left: 16.66666667%;
	right: auto
}
.col-xs-pull-1 {
	left: 8.33333333%;
	right: auto
}
.col-xs-pull-0 {
	left: auto;
	right: auto
}
.col-xs-push-12 {
	right: 100%;
	left: 0
}
.col-xs-push-11 {
	right: 91.66666667%;
	left: 0
}
.col-xs-push-10 {
	right: 83.33333333%;
	left: 0
}
.col-xs-push-9 {
	right: 75%;
	left: 0
}
.col-xs-push-8 {
	right: 66.66666667%;
	left: 0
}
.col-xs-push-7 {
	right: 58.33333333%;
	left: 0
}
.col-xs-push-6 {
	right: 50%;
	left: 0
}
.col-xs-push-5 {
	right: 41.66666667%;
	left: 0
}
.col-xs-push-4 {
	right: 33.33333333%;
	left: 0
}
.col-xs-push-3 {
	right: 25%;
	left: 0
}
.col-xs-push-2 {
	right: 16.66666667%;
	left: 0
}
.col-xs-push-1 {
	right: 8.33333333%;
	left: 0
}
.col-xs-push-0 {
	right: auto;
	left: 0
}
.col-xs-offset-12 {
	margin-right: 100%;
	margin-left: 0
}
.col-xs-offset-11 {
	margin-right: 91.66666667%;
	margin-left: 0
}
.col-xs-offset-10 {
	margin-right: 83.33333333%;
	margin-left: 0
}
.col-xs-offset-9 {
	margin-right: 75%;
	margin-left: 0
}
.col-xs-offset-8 {
	margin-right: 66.66666667%;
	margin-left: 0
}
.col-xs-offset-7 {
	margin-right: 58.33333333%;
	margin-left: 0
}
.col-xs-offset-6 {
	margin-right: 50%;
	margin-left: 0
}
.col-xs-offset-5 {
	margin-right: 41.66666667%;
	margin-left: 0
}
.col-xs-offset-4 {
	margin-right: 33.33333333%;
	margin-left: 0
}
.col-xs-offset-3 {
	margin-right: 25%;
	margin-left: 0
}
.col-xs-offset-2 {
	margin-right: 16.66666667%;
	margin-left: 0
}
.col-xs-offset-1 {
	margin-right: 8.33333333%;
	margin-left: 0
}
.col-xs-offset-0 {
	margin-right: 0;
	margin-left: 0
}
@media (min-width:768px) {
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
		float: right
	}
	.col-sm-12 {
		width: 100%
	}
	.col-sm-11 {
		width: 91.66666667%
	}
	.col-sm-10 {
		width: 83.33333333%
	}
	.col-sm-9 {
		width: 75%
	}
	.col-sm-8 {
		width: 66.66666667%
	}
	.col-sm-7 {
		width: 58.33333333%
	}
	.col-sm-6 {
		width: 50%
	}
	.col-sm-5 {
		width: 41.66666667%
	}
	.col-sm-4 {
		width: 33.33333333%
	}
	.col-sm-3 {
		width: 25%
	}
	.col-sm-2 {
		width: 16.66666667%
	}
	.col-sm-1 {
		width: 8.33333333%
	}
	.col-sm-pull-12 {
		left: 100%;
		right: auto
	}
	.col-sm-pull-11 {
		left: 91.66666667%;
		right: auto
	}
	.col-sm-pull-10 {
		left: 83.33333333%;
		right: auto
	}
	.col-sm-pull-9 {
		left: 75%;
		right: auto
	}
	.col-sm-pull-8 {
		left: 66.66666667%;
		right: auto
	}
	.col-sm-pull-7 {
		left: 58.33333333%;
		right: auto
	}
	.col-sm-pull-6 {
		left: 50%;
		right: auto
	}
	.col-sm-pull-5 {
		left: 41.66666667%;
		right: auto
	}
	.col-sm-pull-4 {
		left: 33.33333333%;
		right: auto
	}
	.col-sm-pull-3 {
		left: 25%;
		right: auto
	}
	.col-sm-pull-2 {
		left: 16.66666667%;
		right: auto
	}
	.col-sm-pull-1 {
		left: 8.33333333%;
		right: auto
	}
	.col-sm-pull-0 {
		left: auto;
		right: auto
	}
	.col-sm-push-12 {
		right: 100%;
		left: 0
	}
	.col-sm-push-11 {
		right: 91.66666667%;
		left: 0
	}
	.col-sm-push-10 {
		right: 83.33333333%;
		left: 0
	}
	.col-sm-push-9 {
		right: 75%;
		left: 0
	}
	.col-sm-push-8 {
		right: 66.66666667%;
		left: 0
	}
	.col-sm-push-7 {
		right: 58.33333333%;
		left: 0
	}
	.col-sm-push-6 {
		right: 50%;
		left: 0
	}
	.col-sm-push-5 {
		right: 41.66666667%;
		left: 0
	}
	.col-sm-push-4 {
		right: 33.33333333%;
		left: 0
	}
	.col-sm-push-3 {
		right: 25%;
		left: 0
	}
	.col-sm-push-2 {
		right: 16.66666667%;
		left: 0
	}
	.col-sm-push-1 {
		right: 8.33333333%;
		left: 0
	}
	.col-sm-push-0 {
		right: auto;
		left: 0
	}
	.col-sm-offset-12 {
		margin-right: 100%;
		margin-left: 0
	}
	.col-sm-offset-11 {
		margin-right: 91.66666667%;
		margin-left: 0
	}
	.col-sm-offset-10 {
		margin-right: 83.33333333%;
		margin-left: 0
	}
	.col-sm-offset-9 {
		margin-right: 75%;
		margin-left: 0
	}
	.col-sm-offset-8 {
		margin-right: 66.66666667%;
		margin-left: 0
	}
	.col-sm-offset-7 {
		margin-right: 58.33333333%;
		margin-left: 0
	}
	.col-sm-offset-6 {
		margin-right: 50%;
		margin-left: 0
	}
	.col-sm-offset-5 {
		margin-right: 41.66666667%;
		margin-left: 0
	}
	.col-sm-offset-4 {
		margin-right: 33.33333333%;
		margin-left: 0
	}
	.col-sm-offset-3 {
		margin-right: 25%;
		margin-left: 0
	}
	.col-sm-offset-2 {
		margin-right: 16.66666667%;
		margin-left: 0
	}
	.col-sm-offset-1 {
		margin-right: 8.33333333%;
		margin-left: 0
	}
	.col-sm-offset-0 {
		margin-right: 0;
		margin-left: 0
	}
}
@media (min-width:992px) {
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
		float: right
	}
	.col-md-12 {
		width: 100%
	}
	.col-md-11 {
		width: 91.66666667%
	}
	.col-md-10 {
		width: 83.33333333%
	}
	.col-md-9 {
		width: 75%
	}
	.col-md-8 {
		width: 66.66666667%
	}
	.col-md-7 {
		width: 58.33333333%
	}
	.col-md-6 {
		width: 50%
	}
	.col-md-5 {
		width: 41.66666667%
	}
	.col-md-4 {
		width: 33.33333333%
	}
	.col-md-3 {
		width: 25%
	}
	.col-md-2 {
		width: 16.66666667%
	}
	.col-md-1 {
		width: 8.33333333%
	}
	.col-md-pull-12 {
		left: 100%;
		right: auto
	}
	.col-md-pull-11 {
		left: 91.66666667%;
		right: auto
	}
	.col-md-pull-10 {
		left: 83.33333333%;
		right: auto
	}
	.col-md-pull-9 {
		left: 75%;
		right: auto
	}
	.col-md-pull-8 {
		left: 66.66666667%;
		right: auto
	}
	.col-md-pull-7 {
		left: 58.33333333%;
		right: auto
	}
	.col-md-pull-6 {
		left: 50%;
		right: auto
	}
	.col-md-pull-5 {
		left: 41.66666667%;
		right: auto
	}
	.col-md-pull-4 {
		left: 33.33333333%;
		right: auto
	}
	.col-md-pull-3 {
		left: 25%;
		right: auto
	}
	.col-md-pull-2 {
		left: 16.66666667%;
		right: auto
	}
	.col-md-pull-1 {
		left: 8.33333333%;
		right: auto
	}
	.col-md-pull-0 {
		left: auto;
		right: auto
	}
	.col-md-push-12 {
		right: 100%;
		left: 0
	}
	.col-md-push-11 {
		right: 91.66666667%;
		left: 0
	}
	.col-md-push-10 {
		right: 83.33333333%;
		left: 0
	}
	.col-md-push-9 {
		right: 75%;
		left: 0
	}
	.col-md-push-8 {
		right: 66.66666667%;
		left: 0
	}
	.col-md-push-7 {
		right: 58.33333333%;
		left: 0
	}
	.col-md-push-6 {
		right: 50%;
		left: 0
	}
	.col-md-push-5 {
		right: 41.66666667%;
		left: 0
	}
	.col-md-push-4 {
		right: 33.33333333%;
		left: 0
	}
	.col-md-push-3 {
		right: 25%;
		left: 0
	}
	.col-md-push-2 {
		right: 16.66666667%;
		left: 0
	}
	.col-md-push-1 {
		right: 8.33333333%;
		left: 0
	}
	.col-md-push-0 {
		right: auto;
		left: 0
	}
	.col-md-offset-12 {
		margin-right: 100%;
		margin-left: 0
	}
	.col-md-offset-11 {
		margin-right: 91.66666667%;
		margin-left: 0
	}
	.col-md-offset-10 {
		margin-right: 83.33333333%;
		margin-left: 0
	}
	.col-md-offset-9 {
		margin-right: 75%;
		margin-left: 0
	}
	.col-md-offset-8 {
		margin-right: 66.66666667%;
		margin-left: 0
	}
	.col-md-offset-7 {
		margin-right: 58.33333333%;
		margin-left: 0
	}
	.col-md-offset-6 {
		margin-right: 50%;
		margin-left: 0
	}
	.col-md-offset-5 {
		margin-right: 41.66666667%;
		margin-left: 0
	}
	.col-md-offset-4 {
		margin-right: 33.33333333%;
		margin-left: 0
	}
	.col-md-offset-3 {
		margin-right: 25%;
		margin-left: 0
	}
	.col-md-offset-2 {
		margin-right: 16.66666667%;
		margin-left: 0
	}
	.col-md-offset-1 {
		margin-right: 8.33333333%;
		margin-left: 0
	}
	.col-md-offset-0 {
		margin-right: 0;
		margin-left: 0
	}
}
@media (min-width:1200px) {
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
		float: right
	}
	.col-lg-12 {
		width: 100%
	}
	.col-lg-11 {
		width: 91.66666667%
	}
	.col-lg-10 {
		width: 83.33333333%
	}
	.col-lg-9 {
		width: 75%
	}
	.col-lg-8 {
		width: 66.66666667%
	}
	.col-lg-7 {
		width: 58.33333333%
	}
	.col-lg-6 {
		width: 50%
	}
	.col-lg-5 {
		width: 41.66666667%
	}
	.col-lg-4 {
		width: 33.33333333%
	}
	.col-lg-3 {
		width: 25%
	}
	.col-lg-2 {
		width: 16.66666667%
	}
	.col-lg-1 {
		width: 8.33333333%
	}
	.col-lg-pull-12 {
		left: 100%;
		right: auto
	}
	.col-lg-pull-11 {
		left: 91.66666667%;
		right: auto
	}
	.col-lg-pull-10 {
		left: 83.33333333%;
		right: auto
	}
	.col-lg-pull-9 {
		left: 75%;
		right: auto
	}
	.col-lg-pull-8 {
		left: 66.66666667%;
		right: auto
	}
	.col-lg-pull-7 {
		left: 58.33333333%;
		right: auto
	}
	.col-lg-pull-6 {
		left: 50%;
		right: auto
	}
	.col-lg-pull-5 {
		left: 41.66666667%;
		right: auto
	}
	.col-lg-pull-4 {
		left: 33.33333333%;
		right: auto
	}
	.col-lg-pull-3 {
		left: 25%;
		right: auto
	}
	.col-lg-pull-2 {
		left: 16.66666667%;
		right: auto
	}
	.col-lg-pull-1 {
		left: 8.33333333%;
		right: auto
	}
	.col-lg-pull-0 {
		left: auto;
		right: auto
	}
	.col-lg-push-12 {
		right: 100%;
		left: 0
	}
	.col-lg-push-11 {
		right: 91.66666667%;
		left: 0
	}
	.col-lg-push-10 {
		right: 83.33333333%;
		left: 0
	}
	.col-lg-push-9 {
		right: 75%;
		left: 0
	}
	.col-lg-push-8 {
		right: 66.66666667%;
		left: 0
	}
	.col-lg-push-7 {
		right: 58.33333333%;
		left: 0
	}
	.col-lg-push-6 {
		right: 50%;
		left: 0
	}
	.col-lg-push-5 {
		right: 41.66666667%;
		left: 0
	}
	.col-lg-push-4 {
		right: 33.33333333%;
		left: 0
	}
	.col-lg-push-3 {
		right: 25%;
		left: 0
	}
	.col-lg-push-2 {
		right: 16.66666667%;
		left: 0
	}
	.col-lg-push-1 {
		right: 8.33333333%;
		left: 0
	}
	.col-lg-push-0 {
		right: auto;
		left: 0
	}
	.col-lg-offset-12 {
		margin-right: 100%;
		margin-left: 0
	}
	.col-lg-offset-11 {
		margin-right: 91.66666667%;
		margin-left: 0
	}
	.col-lg-offset-10 {
		margin-right: 83.33333333%;
		margin-left: 0
	}
	.col-lg-offset-9 {
		margin-right: 75%;
		margin-left: 0
	}
	.col-lg-offset-8 {
		margin-right: 66.66666667%;
		margin-left: 0
	}
	.col-lg-offset-7 {
		margin-right: 58.33333333%;
		margin-left: 0
	}
	.col-lg-offset-6 {
		margin-right: 50%;
		margin-left: 0
	}
	.col-lg-offset-5 {
		margin-right: 41.66666667%;
		margin-left: 0
	}
	.col-lg-offset-4 {
		margin-right: 33.33333333%;
		margin-left: 0
	}
	.col-lg-offset-3 {
		margin-right: 25%;
		margin-left: 0
	}
	.col-lg-offset-2 {
		margin-right: 16.66666667%;
		margin-left: 0
	}
	.col-lg-offset-1 {
		margin-right: 8.33333333%;
		margin-left: 0
	}
	.col-lg-offset-0 {
		margin-right: 0;
		margin-left: 0
	}
}
caption, th {
	text-align: right
}
@media screen and (max-width:767px) {
	.table-responsive>.table-bordered {
		border: 0
	}
	.table-responsive>.table-bordered>tbody>tr>td:first-child, .table-responsive>.table-bordered>tbody>tr>th:first-child, .table-responsive>.table-bordered>tfoot>tr>td:first-child, .table-responsive>.table-bordered>tfoot>tr>th:first-child, .table-responsive>.table-bordered>thead>tr>td:first-child, .table-responsive>.table-bordered>thead>tr>th:first-child {
		border-right: 0;
		border-left: initial
	}
	.table-responsive>.table-bordered>tbody>tr>td:last-child, .table-responsive>.table-bordered>tbody>tr>th:last-child, .table-responsive>.table-bordered>tfoot>tr>td:last-child, .table-responsive>.table-bordered>tfoot>tr>th:last-child, .table-responsive>.table-bordered>thead>tr>td:last-child, .table-responsive>.table-bordered>thead>tr>th:last-child {
		border-left: 0;
		border-right: initial
	}
}
.pagination {
	padding-right: 0
}
.pagination>li>a, .pagination>li>span {
	float: right;
	margin-right: -1px;
	margin-left: 0
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left: 0;
	border-radius: 0 4px 4px 0
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	margin-right: -1px;
	border-radius: 4px 0 0 4px
}
.ltr {
	direction: ltr;
	text-align: right
}
.pull-right {
	float: left !important
}
.pull-left {
	float: right !important
}
.pos-absolute {
	position: absolute !important
}
.switchable:not(.imageblock) {
	position: relative
}
.switchable:not(.imageblock) div[class*='col-']:first-child {
	float: right;
	left: auto
}
.switchable:not(.imageblock) div[class*='col-']:first-child:not([class*='pull']):not([class*='push']) {
	right: 0
}
.switchable:not(.imageblock) div[class*='col-']:last-child {
	float: left;
	right: auto
}
.switchable:not(.imageblock) div[class*='col-']:last-child:not([class*='pull']):not([class*='push']) {
	left: 0
}
.switchable:not(.imageblock).switchable--switch div[class*='col-']:first-child {
	float: left;
	right: auto;
	left: 0
}
.switchable:not(.imageblock).switchable--switch div[class*='col-']:first-child:not([class*='pull']):not([class*='push']) {
	left: 0
}
.switchable:not(.imageblock).switchable--switch div[class*='col-']:last-child {
	float: right;
	left: auto;
	right: 0
}
.text-left {
	text-align: right
}
.text-right {
	text-align: left
}
blockquote {
	border-right: none
}
pre {
	direction: ltr
}
@media all and (max-width:990px) {
	.text-left-sm {
		text-align: right !important
	}
}
@media all and (max-width:767px) {
	.text-left-xs {
		text-align: right !important
	}
	.text-center-xs {
		text-align: center !important
	}
}
[dir="rtl"] {
	direction: rtl
}
[dir="rtl"] .accordion .accordion__title:before {
	margin-left: 6px;
	margin-right: 0
}
@media (min-width:1024px) {
	[dir="rtl"] .bar-1 .bar__module+.bar__module {
		margin-left: 0;
		margin-right: 1.6875em
	}
}
[dir="rtl"] .comment .comment__meta a:not(:first-child) {
	margin-left: 0;
	margin-right: 1.08333333333334em
}
[dir="rtl"] .comment .comment__avatar {
	float: right
}
[dir="rtl"] .breadcrumbs li:not(:last-child) {
	margin-left: 1.08333333333334em;
	margin-right: 0
}
[dir="rtl"] .breadcrumbs li:not(:last-child):after {
	margin-left: 0;
	margin-right: 1.08333333333334em
}
[dir="rtl"] .btn.btn--sm+.btn--sm {
	margin-left: 0;
	margin-right: .84375em
}
[dir="rtl"] .btn:last-child {
	margin-left: 0;
	margin-right: auto
}
[dir="rtl"] .btn:first-child {
	margin-right: 0;
	margin-left: auto
}
@media all and (min-width:768px) {
	[dir="rtl"] .btn:not(.block)+.btn {
		margin-left: 0;
		margin-right: 1.6875em
	}
}
@media all and (max-width:767px) {
	[dir="rtl"] .btn.btn--sm+.btn--sm {
		margin-right: 0
	}
}
[dir="rtl"] .card-1 .card__meta {
	float: left
}
[dir="rtl"] .card-1 .card__meta span {
	direction: ltr
}
@media all and (min-width:990px) {
	[dir="rtl"] .cover-blocks .col-md-5 {
		right: 58.33333333%
	}
}
@media all and (min-width:768px) {
	[dir="rtl"] .cover-blocks .col-md-5 {
		right: 50%
	}
}
[dir="rtl"] .countdown {
	direction: ltr
}
[dir="rtl"] .feature-2 i, [dir="rtl"] .feature-5 i {
	float: right
}
[dir="rtl"] .feature-2 .feature__body, [dir="rtl"] .feature-5 .feature__body {
	float: left
}
[dir="rtl"] input[type], [dir="rtl"] select, [dir="rtl"] textarea {
	padding-left: 0;
	padding-right: .84375em
}
[dir="rtl"] .input-checkbox .inner:not(:last-child) {
	margin-left: .421875em;
	margin-right: 0
}
[dir="rtl"] .input-select:after {
	right: auto;
	left: 0;
	border-left: none;
	border-right: 1px solid #ececec
}
[dir="rtl"] div[class*='col-']>form div[class*='col-']:last-child:nth-child(2) {
	padding-right: 15px;
	padding-left: 0
}
[dir="rtl"] footer .logo:not(:last-child) {
	margin-right: 0;
	margin-left: 1.6875em
}
@media all and (max-width:767px) {
	[dir="rtl"] footer .social-list {
		margin-top: .84375em;
		margin-bottom: .84375em
	}
	[dir="rtl"] footer .logo:not(:last-child) {
		margin-left: 0
	}
}
[dir="rtl"] .label {
	right: auto !important;
	left: 1.125em
}
[dir="rtl"] .btn .label {
	left: -3.375em
}
[dir="rtl"] .pricing .label {
	left: 3.375em
}
[dir="rtl"] span>a, [dir="rtl"] p>a {
	display: inline-block
}
[dir="rtl"] .list-inline:not(:last-child) {
	margin-right: 0;
	margin-left: 1.6875em
}
[dir="rtl"] .list-inline li:not(:last-child) {
	margin-left: 1.6875em;
	margin-right: 0
}
[dir="rtl"] .checkmark:not(:last-child) {
	margin-left: 13px;
	margin-right: 0
}
@media all and (max-width:767px) {
	[dir="rtl"] .list-inline:not(.social-list) li:not(:last-child) {
		margin-left: 0
	}
}
[dir="rtl"] .masonry-filter-container>span+.masonry-filter-holder {
	margin-left: 0
}
[dir="rtl"] .masonry-filter-container>span {
	display: inline-block;
	margin-left: 1.6875em
}
[dir="rtl"] .masonry-filter-holder .masonry__filters ul li.active:after {
	margin-left: 0;
	margin-right: 6px
}
[dir="rtl"] .masonry--tiles .masonry__item:not(:empty) .product--tile .label {
	left: 2.78571429em
}
[dir="rtl"] .menu-horizontal li:not(:last-child) {
	margin-right: 0 !important;
	margin-left: .84375em
}
[dir="rtl"] .menu-horizontal>.dropdown>.dropdown__trigger:after {
	margin-left: 0;
	margin-right: 4px
}
[dir="rtl"] .menu-vertical li.dropdown:after {
	right: auto;
	left: 0;
	content: '\e80b';
	transform: translateX(0);
	-webkit-transform: translateX(0)
}
[dir="rtl"] .menu-vertical li.dropdown:hover:after {
	transform: translateX(-5px);
	-webkit-transform: translateX(-5px)
}
@media (min-width:990px) {
	[dir="rtl"] .menu-vertical .dropdown__container .dropdown__content {
		transform: translateX(-75%);
		-webkit-transform: translateX(-75%)
	}
}
[dir="rtl"] .dropdown .dropdown__content>.pos-absolute[class*='col-'] {
	left: auto;
	right: 0
}
[dir="rtl"] .dropdown .dropdown__content .background-image-holder, [dir="rtl"] .dropdown .dropdown__content>.pos-absolute[class*='col-'][data-overlay]:before {
	border-radius: 0 6px 6px 0
}
[dir="rtl"] .dropdown__container:not([style]) {
	position: fixed
}
@media all and (max-width:767px) {
	[dir="rtl"] .dropdown__container, [dir="rtl"] .dropdown__content {
		right: 0 !important
	}
	[dir="rtl"] .dropdown .dropdown__content {
		padding-right: 0
	}
}
@media all and (min-width:768px) {
	[dir="rtl"] .modal-instance+span:last-child {
		margin-left: 0;
		margin-right: .84375em
	}
}
[dir="rtl"] .notification .notification-close-cross {
	right: auto;
	left: 2em
}
[dir="rtl"] .product h5 {
	margin-right: 0;
	marign-left: .421875em
}
@media all and (min-width:768px) {
	[dir="rtl"] .process-1 .process__item:nth-child(odd) {
		text-align: left;
		padding-right: 0;
		padding-left: 3.375em
	}
	[dir="rtl"] .process-1 .process__item:nth-child(odd):after {
		right: auto;
		left: -0.84375em;
		margin-left: -1px
	}
	[dir="rtl"] .process-1 .process__item:nth-child(even) {
		margin-left: auto;
		margin-right: 50%;
		padding-left: 0;
		padding-right: 3.375em
	}
	[dir="rtl"] .process-1 .process__item:nth-child(even):after {
		left: auto;
		right: -0.84375em
	}
}
[dir="rtl"] .process-3 .process__number {
	float: right
}
[dir="rtl"] .process-3 .process__body {
	float: left
}
[dir="rtl"] .process-3:before {
	left: auto;
	right: 1.6875em
}
[dir="rtl"] .tabs-container[data-content-align="left"] .tabs-content {
	text-align: right
}
[dir="rtl"] .tabs-container.tabs--vertical .tabs {
	float: right
}
[dir="rtl"] .tabs-container.tabs--vertical .tabs-content {
	float: left
}
@media all and (min-width:768px) {
	[dir="rtl"] .Testimonials-1 .list-inline li:not(:last-child) {
		margin-left: 0;
		margin-right: 2.25em
	}
}
[dir="rtl"] .tweets-feed-1 .user {
	float: right
}
[dir="rtl"] .tweets-feed-1 .tweet, [dir="rtl"] .tweets-feed-1 .timePosted {
	float: left
}
[dir="rtl"] .tweets-feed-2 li:before {
	float: right;
	margin-left: 10px
}
[dir="rtl"] .typed-headline {
	display: inline-block
}
[dir="rtl"] .typed-headline .typed-text {
	float: right;
	margin-left: 6px;
	position: relative
}
[dir="rtl"] .typed-headline .typed-text.typed-text--cursor:after {
	position: absolute;
	right: -19px
}
[dir="rtl"] .modal-instance .video-play-icon+span {
	margin-left: 0;
	margin-right: .84375em
}
[dir="rtl"] .video-cover+span.h4+span {
	margin-left: 0;
	margin-right: .84375em
}
@media all and (min-width:768px) {
	[dir="rtl"] .video-1 .video-play-icon {
		margin-right: auto;
		margin-left: 1.6875em
	}
}