@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
html {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
body {
	color: #767676;
	background: #f1f2f7;
	font-family: 'Open Sans', sans-serif;
	padding: 0px !important;
	margin: 0px !important;
	font-size: 13px;
	text-rendering: optimizeLegibility;
}
::selection {
	background: #1FB5AD;
	color: #fff;
}
::-moz-selection {
	background: #1FB5AD;
	color: #fff;
}
input:focus:invalid:focus {
	border-color: #B94A48 !important;
}
.lock-screen {
	background: linear-gradient(to right,#c26bd6 0,#3123ae);
}
.lock-wrapper {
	margin: 10% auto;
	max-width: 555px;
}
.lock-box {
	position: relative;
}
.lock-name {
	background: #fff;
	width: 40%;
    font-size: 17px;
	font-family: OpenSans-Bold;
	float: left;
	height: 50px;
	line-height: 50px;
	margin-top: 55px;
	padding: 0 20px;
	text-align: left;
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	color: #555555;
}
.lock-pwd {
	background: #111111;
	width: 60%;
	float: right;
	height: 50px;
	line-height: 50px;
	margin-top: 55px;
	padding: 0 0 0 112px;
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	color: #1fb5ad;
}
.lock-pwd input {
	width: 77% !important;
    margin-top: 6px;
    color: #ffffff;
    /* opacity: 0.7; */
    background-color: #41414173;
}
.lock-pwd input:focus, .lock-pwd input:hover {
	border-color: #fff;
}
.lock-wrapper img {
	position: absolute;
	left: 30%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 10px solid #fff;
	width: 160px;
	height: 160px;
	background: #fff;
}
.btn-lock, .btn-lock:hover {
	background: #fff;
    color: #ffffff;
    margin-top: -7px;
    background-color: #41414173;
}
.lock-input {
	width: 83%;
	border: none;
	float: left;
	margin-right: 3px;
}
#time {
	width: 100%;
	color: #fff;
	font-size: 125px;
	margin-bottom: 30px;
	display: inline-block;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}
.evnt-input:placeholder {
	color: #fff !important;
	font-size: 12px;
}
@media (min-width: 480px) and (max-width: 767px) {
	.lock-wrapper {
		padding: 0 20px;
	}
	.lock-wrapper img {
		width: 140px;
		height: 140px;
		margin-top: 10px;
	}
	.lock-pwd input {
		width: 70%;
	}
	#time {
		font-size: 100px;
	}
}
@media (max-width:767px) {
	.lock-wrapper {
		padding: 0 20px;
	}
	.lock-wrapper img {
		width: 140px;
		height: 140px;
		margin-top: 10px;
	}
	#time {
		font-size: 100px;
	}
}
@media (max-width: 479px) {
	body {
		margin-top: 80px !important;
	}
	.lock-wrapper {
		padding: 0 20px;
		margin: 50% auto;
	}
	.lock-wrapper img {
		width: 70px;
		height: 70px;
		margin-top: 45px;
	}
	.lock-pwd input {
		width: 61% !important;
		margin: 8px 0 0 38px;
	}
	#time {
		font-size: 50px;
		margin-bottom: 0px;
	}
	.lock-pwd {
		padding: 0;
	}
	
	.btn-lock, .btn-lock:hover {
    margin-top: -4px;
}
}